.red{
    background-color:red;
    width:150px;
    height:150px;
}
.blue{
    background-color:blue;
    width:150px;
    height:150px;
}
.black{
    background-color:black;
    width:150px;
    height:150px;
}